{% extends 'base.html.twig' %}

{% block title %}Casting{% endblock %}

{% block body %}
    <main class="main"> 
    <h1>Casting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ casting.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ casting.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ casting.lastname }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ casting.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_casting_index') }}">back to list</a>

    <a href="{{ path('app_casting_edit', {'id': casting.id}) }}">edit</a>

    {{ include('casting/_delete_form.html.twig') }}
    </main>
{% endblock %}
