<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
       
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
        <div class="container">
            {% block header %}
                <header class="headband">
                    <img src="{{ asset('images/headband.jpg') }}" alt="salle de cinéma">

                <nav class="navbar">
                    <ul class="nav-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_movies_index') }}">Films</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" href="{{ path('app_casting_directors') }}">Réalisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_casting_actors') }}">Acteurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_casting_composers') }}">Compositeurs</a>
                        </li>
                    </ul>
                </nav>
                </header>
            {% endblock %}
  
            {% block body %}
                <main class="main"> 
                </main>    
            {% endblock %}
    
            {% block footer %}
                <footer class="footer"> 
                {% if app.user == null %}
                    <a class="nav-btn-login" href="{{ path('app_login') }}">Se connecter</a>
                    {# <a class="btn btn-outline-danger" href="{{ path('app_register') }}">S'inscrire</a> #}

                {% else %}
                    <div class="nav-adminName">
                    Vous êtes connecté(e) en tant administrateur
                    </div>

                     <a class="nav-btn-logout" href="{{ path('app_logout') }}">
                        se déconnecter
                    </a>
                {% endif %}    
                </footer>
            {% endblock %}

        </div>
    </body>
</html>
